@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@font-face {
	font-family: dialog_font;
	src: url("../assets/dialog_font.otf");
}

@keyframes appear {
	from {
		opacity: 0
	}
	to {
		opacity: 1;
	}
}

body {
	z-index: -1;
	width: 100%;
	top: 0;
	/* Set a specific height */
	min-height: 100%;
	height: 100%;
	background-image: url("../assets/plage.png");
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@keyframes bouncey {
	from {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	to {
		margin-top: 10px;
		margin-bottom: 0px;
	}
}

.navbar {
	animation-name: appear;
	animation-delay: 1s;
	animation-fill-mode: both;
	animation-duration: 4s;
	z-index: 2;
}

#vid_bg {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: -1;
	min-width: 100%;
	min-height: 100%;
}

#anchorHaut {
	margin-top: 25%;
}

#anchorMilieu {
	margin-top: 25%;
}

.anchorboi {
	margin-left: auto;
	margin-right: auto;
	font-family: dialog_font;
	font-size: 1.2em;
	color: #00a1bb;
	background-color: #fffae4d2;
	padding: 15px;
	border-radius: 15px;
	display: inline-block;
	animation-name: appear;
	animation-delay: 1s;
	animation-fill-mode: both;
	animation-duration: 4s;
}

.arrowy {
	margin-top: 5px;
	margin-left: 49%;
	width: 30px;
	z-index: 4;
	animation-name: bouncey;
	animation-duration: 1s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

#temoignage-container {
	margin: 250px auto 75px auto;
	/* height: 400px; */
	width: 600px;
	background-color: #fffae4;
	padding: 30px;
	color: #7b6951;
	border-radius: 15px;
}

#temoignage-container p {
	width: inherit;
	font-family: dialog_font;
	font-size: 1.2em;
	line-height: 1.5;
	/* width: 100%; */
}

#temoignage-container #nameContainer {
	font-size: 1.5em;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
}

#temo-img {
	float: left;
	padding: 0 10px 0 30px;
}

#forfait-beau {
	font-family: 'Allura', cursive;
	font-weight: 500;
	color: white;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.281);
	font-size: 70px;
	margin-top: 10%;
	margin-left: 10%;
}

.blueText {
	color: #00a1bb;
}

#photos-anchor {
	margin-top: 20%;
}

.photo-frame {
	border-width: 10px;
	border-style: solid;
	border-color: white;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.116);
	margin: 10px 10px 10px 10px;
	width: auto;
	height: auto;
}

@keyframes rotate-right {
	0% {
		transform: rotate(0deg) scale(1.0);
	}
	100% {
		transform: rotate(30deg) scale(1.1);
	}
}

@keyframes rotate-left {
	0% {
		transform: rotate(0deg) scale(1.0);
	}
	100% {
		transform: rotate(-30deg) scale(1.1);
	}
}

#rotate-right:hover {
	animation-name: rotate-right;
	animation-fill-mode: both;
	animation-duration: 0.5s;
	z-index: 0;
}

#rotate-left:hover {
	animation-name: rotate-left;
	animation-fill-mode: both;
	animation-duration: 0.5s;
	z-index: 0;
}

.photo-frame {
	width: inherit;
}

#photos-anchor {
	width: 50%;
}

#en-quelques-mots {
	margin-top: 30%;
	padding: 20% 0 20% 0;
	background: url("../assets/pattern-leaves-white.jpg");
	/* margin-bottom: 20%; */
}

#foire {
	text-align: center;
	font-family: dialog_font;
	/* font-weight: 500; */
	color: rgb(70, 155, 129);
	padding: 20px;
	/* text-shadow: 2px 2px rgba(0, 0, 0, 0.281); */
}

.btn-link {
	color: rgb(70, 155, 129) !important;
}

.btn-link:hover {
	text-decoration: none !important;
	color: rgb(235, 144, 144) !important;
}

.btn-link:active {
	text-decoration: none !important;
	color: rgb(238, 226, 103) !important;
}