body {
	background-color: rgb(49, 160, 235);
}

.background {
	background-image: url(../assets/encounter-bg.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	padding-top: 5%;
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 5%;
}

hr.ligneDashed {
	border-top: 3px dashed rgb(49, 160, 235);
}

.formulaire {
	padding: 5%;
	padding-bottom: 10%;
	background-color: white;
	font-size: 18px;
	border-radius: 5px;
	line-height: 1.5;
}

.formulaire h1 {
	text-align: center;
	font-size: 64px;
	font-weight: 700;
	color: rgb(49, 160, 235);
}

.formulaire img {
	width: 10%;
	padding-bottom: 1%;
	padding-left: 1%;
}

.formulaire h2 {
	text-align: center;
	font-size: 18px;
	color: black;
	padding-bottom: 3%;
}

form input {
	padding: 1% 2% 1% 2%;
	width: 100%;
	border: 1px solid;
	border-color: #bacad6;
	background-color: #fafafa;
	border-radius: 5px;
	height: 2.5em;
}

form select {
	padding: 1% 2% 1% 2%;
	width: 32%;
	border: 1px solid;
	border-color: #bacad6;
	background-color: #fafafa;
	border-radius: 5px;
	height: 2.5em;
}

.questions {
	margin-top: 3%;
}

form button {
	width: 20%;
	border-radius: 5px;
	font-size: 18px;
	float: right;
	color: white;
	background-color: rgb(228, 132, 57);
	border-style: none;
	padding: 1.5%;
}

form button:hover {
	background-color:  rgb(235, 144, 144);
	border-style: none;
}